<div class="brand">
  <div class="logo">
    <img class="ng-logo" src="assets/logo.svg" />
  </div>
  <div class="title">
    <h1>
      <span class="angular">Angular</span> Progressbar
    </h1>
    <p>
      A nanoscopic progress bar. Featuring realistic trickle animations to convince your users that something is happening!
    </p>
    <div class="badges">
      <a href="https://www.npmjs.com/package/ngx-progressbar">
        <img src="https://img.shields.io/npm/v/@ngx-progressbar/core.svg?maxAge=2592000?style=plastic" data-canonical-src="https://www.npmjs.com/package/ngx-progressbar/core">
      </a>
      <a href="https://travis-ci.org/MurhafSousli/ngx-progressbar">
        <img src="https://travis-ci.org/MurhafSousli/ngx-progressbar.svg?branch=master" data-canonical-src="https://travis-ci.org/MurhafSousli/ngx-progressbar">
      </a>
      <a href="https://github.com/MurhafSousli/ngx-sharebuttons/blob/master/LICENSE">
        <img src="https://camo.githubusercontent.com/25d313ccfafb08618b31899a22af11a5b8a79aad/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f6c2f657870726573732e7376673f6d61784167653d32353932303030"
          alt="npm" data-canonical-src="https://img.shields.io/npm/l/express.svg?maxAge=2592000" style="max-width:100%;">
      </a>
    </div>
  </div>
</div>
<div class="links">

  <a class="github-button" href="https://github.com/murhafsousli/ngx-progressbar" data-icon="octicon-star" data-show-count="true"
    aria-label="Star murhafsousli/ngx-progressbar on GitHub">Star</a>

  <a class="github-button" href="https://github.com/murhafsousli" aria-label="Follow @murhafsousli on GitHub">Follow @murhafsousli</a>

  <a href="https://twitter.com/murhafsousli?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @murhafsousli</a>

</div>
