.ng-progress {
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
  transition: opacity 200ms linear;
}

.active {
  filter: alpha(opacity=100);
  opacity: 1;
  transition: none;
}

.bar {
  position: absolute;
  width: 100%;
  height: 2px;
}

.thick .bar {
  height: 3px;
}

.bar-shadow {
  display: block;
  position: absolute;
  right: 0;
  top: -3px;
  width: 100px;
  height: 100%;
  opacity: 1.0;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}


.thick .bar-shadow {
  top: -4px;
  -webkit-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
}

.thick .spinner-icon {
  width: 24px;
  height: 24px;
  border: solid 3px transparent;
}

/* Remove these to get rid of the spinner */
.spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

.spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.anti-clockwise .spinner-icon {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
