.component-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.component {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--cmp-bg);
  color: var(--input-name-color);
  padding: 10px;
  border-radius: 4px;
  font-family: monospace;
}

.tag-name,
.input-name,
.input-wrapper,
.input,
input {
  padding: 0;
}
.tag-name {
  color: var(--cmp-color);
  line-height: 30px;
  font-weight: bold;
}

.input-name {
  color: var(--input-name-color);
  &:before {
    content: "[";
    color: var(--input-name-color);
  }
  &:after {
    content: "]";
    color: var(--input-name-color);
  }
}

.input-wrapper, .output-wrapper {
  margin: 3px;
}

.input, .output {
  color: var(--input-color);
  &:before {
    content: '"';
  }
  &:after {
    content: '"';
  }
  span {
    color: var(--input-color);
    font-style: normal;
  }
}

.output-name {
  color: var(--input-name-color);
  &:before {
    content: "(";
    color: var(--input-name-color);
  }
  &:after {
    content: ")";
    color: var(--input-name-color);
  }
}
.output-wrapper {

}

input,
select {
  color: var(--input-color);
  border: 0;
  font-family: monospace;
  outline: 0;
  background-color: var(--input-bg);
  width: 60px;
}

input[type=checkbox] {
  width: unset;
}
