ul {
  display: flex;
  padding: 0;
}

li {
  list-style-type: none;
  flex: 1;
  text-align: center;
}

.menu {
  width: 200px;
  margin-top: -30px;
  margin-bottom: 20px;
  a {
    margin-left: 1em;
    margin-right: 1em;
    display: inline-block;
    color: black;
    text-decoration: none;
  }
  .active-link {
    text-decoration: underline;
  }
}

.root-progress-bar {
  --ng-progress-thickness: 3;
  ::ng-deep {
    .ng-bar-placeholder {
      background-color: lightgray;
    }
    .ng-bar {
      background: #00F260;
      background: linear-gradient(to right, #0575E6, #00F260);
    }
  }
}
