@import '../assets/variables';
button {
  display: flex;
  align-content: center;
  justify-content: center;
  color: gray;
  margin: 4px 5px 3px 0;
  background-color: $btnColor;
  border: 0;
  border-radius: 4px;
  transition: all .15s ease;
  outline: 0;
  &:hover:enabled {
    color: white;
    background-color: $btnHoverColor;
    cursor: pointer;
  }
  &:active:enabled {
    box-shadow: inset 0 0 4px rgba(black, 0.8);
  }
  img {
    width: 12px;
    padding: 7px;
  }
  button:disabled,
  button[disabled]{
    background-color: #cccccc;
    color: #666666;
  }
}

.grid {
  display: flex;
  align-items: center;
}

table {
  font-size: 0.8em;
  margin-bottom: 10px;
  td {
    color: gray;
    i {
      color: $fontColor;
    }
  }
}

strong {
  color: $strongColor;
}

.events {
  flex: 1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  span {
    color: gray;
    background-color: honeydew;
    transition: background-color ease-out 1s;
  }
}

.chip {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 1em;
  border-radius: 1.5em;
  padding: 0.6em 1em;
  font-size: 0.8em;
  width: 136px;
  text-align: center;
}

.changed {
  background-color: rgb(151, 255, 218) !important;
  transition: unset !important;
}
