<ng-progress [positionUsing]="options.positionUsing"
             [minimum]="options.minimum" [ease]="options.ease"
             [speed]="options.speed" [showSpinner]="options.showSpinner"
             [direction]="options.direction" [color]="options.color"
             [trickle]="options.trickle" [trickleSpeed]="options.trickleSpeed"
             [thick]="options.thick" [toggle]="toggle"
></ng-progress>

<table>
  <tr>
    <td>
      <button (click)="start()">&#9654;</button>
    </td>
    <td>NgProgressService.<strong>start()</strong> — <i>shows the progress bar</i></td>
  </tr>
  <tr>
    <td>
      <button (click)="set(0.3)">&#9654;</button>
    </td>
    <td>NgProgressService.<strong>set(0.3)</strong> — <i>sets a percentage 30%</i></td>
  </tr>
  <tr>
    <td>
      <button (click)="inc(0.2)">&#9654;</button>
    </td>
    <td>NgProgressService.<strong>inc(0.2)</strong> — <i>increments by 20%</i></td>
  </tr>
  <tr>
    <td>
      <button (click)="done()">&#9654;</button>
    </td>
    <td>NgProgressService.<strong>done()</strong> — <i>completes the progress</i></td>
  </tr>
  <tr>
    <td>
      <button class="try-this" (click)="colorify()">&#9654;</button>
    </td>
    <td>NgProgressService.<strong>colors = [color1, color2, color3, ...]</strong> — <i> colorify the progress bar</i>
    </td>
  </tr>


</table>


<div class="component-outer">
  <div class="component">
    <i class="tag-name" [textContent]="'<ng-progress '"></i>

    <span class="input-wrapper">
      <span class="input-name">toggle</span>
      =
      <i class="input">
        <input type="checkbox" [(ngModel)]="toggle"><span>{{(toggle)?"true":"false"}}</span>
      </i>
    </span>

    <span class="input-wrapper">
      <span class="input-name">showSpinner</span>
      =
      <i class="input">
        <input type="checkbox" [(ngModel)]="options.showSpinner"><span>{{(options.showSpinner)?"true":"false"}}</span>
      </i>
    </span>

    <span class="input-wrapper">
      <span class="input-name">thick</span>
      =
      <i class="input">
        <input type="checkbox" [(ngModel)]="options.thick"><span>{{(options.thick)?"true":"false"}}</span>
      </i>
    </span>

    <span class="input-wrapper">
       <span class="input-name">positionUsing</span>
      =
      <i class="input">
        <select [(ngModel)]="options.positionUsing">
          <option *ngFor="let p of positionings" [ngValue]="p">{{p}}</option>
        </select>
      </i>
    </span>

    <span class="input-wrapper">
      <span class="input-name">trickle</span>
      =
      <i class="input">
      <input type="checkbox" [(ngModel)]="options.trickle"><span>{{(options.trickle)?"true":"false"}}</span>
    </i>
    </span>

    <span class="input-wrapper">
      <span class="input-name">direction</span>
      =
      <i class="input">
        <select [(ngModel)]="options.direction">
          <option *ngFor="let d of directions" [ngValue]="d">{{d}}</option>
        </select>
      </i>
    </span>

    <span class="input-wrapper">
      <span class="input-name">trickleSpeed</span>
        =
      <i class="input">
        <input [(ngModel)]="options.trickleSpeed">
      </i>
    </span>

    <span class="input-wrapper">
       <span class="input-name">minimum</span>
      =
      <i class="input">
        <input [(ngModel)]="options.minimum">
      </i>
    </span>

    <span class="input-wrapper">
       <span class="input-name">ease</span>
      =
      <i class="input">
        <input [(ngModel)]="options.ease">
      </i>
    </span>

    <span class="input-wrapper">
       <span class="input-name">speed</span>
      =
      <i class="input">
        <input [(ngModel)]="options.speed">
      </i>
    </span>

    <span class="input-wrapper">
      <span class="input-name">color</span>
      =
      <i class="input">
        <input [(ngModel)]="options.color">
      </i>
    </span>

    <i class="tag-name" [textContent]="' ></ng-progress>'"></i>
  </div>
</div>
