$cmpBg: #303030;
$cmpColor:#2C7CD1;
$inputName:#EAFDA1;
$inputColor: #92c34e;
$inputBg: #3d3c3c;

.component-outer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.component{
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: $cmpBg;
  color: $inputName;
  padding: 10px;
  border-radius: 4px;
  font-family: monospace;

  .tag-name,.input-name, .input-wrapper, .input, input{
    padding: 0;
  }

  .tag-name{
    color: $cmpColor;
    line-height: 30px;
    font-weight: bold;
  }

  .input-name{
    color: $inputName;
    &:before{
      content: "[";
      color: $inputName;
    }
    &:after{
      content: "]";
      color: $inputName;
    }
  }
  .input-wrapper{
    margin: 3px;
  }
  .input{
    color:$inputColor;
    &:before{
      content: '"';
    }
    &:after{
      content: '"';
    }

    span{
      color: $inputColor;
      font-style: normal;
    }
    input, select{
      color: $inputColor;
      border:0;
      font-family: monospace;
      outline: 0;
      background-color: $inputBg;

    }
  }
}

.container{
  max-width: 700px;
  margin: 0 auto;
}

table{
  font-size: 0.8em;
  margin-bottom: 10px;
  strong{
    font-weight: bold;
    color: $strongColor;
  }
}
