ng-progress {
  z-index: 999999;
  pointer-events: none;
  position: relative;
}

.ng-progress-bar {
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
  &.-active {
    filter: alpha(opacity=100);
    opacity: 1;
    transition: none;
  }
}

.ng-bar-placeholder {
  position: absolute;
  height: 2px;
  width: 100%;
}

.ng-bar {
  width: 100%;
  height: 100%;
  transform: translate(-100%, 0, 0);
}

.ng-meteor {
  display: block;
  position: absolute;
  width: 100px;
  height: 100%;
  opacity: 1;
}

.ng-spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
}

.ng-spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  animation: spinner-animation 400ms linear infinite;
  border: 2px solid transparent;
  border-radius: 50%;
}

[dir='ltr+'], [dir='ltr-'] {
  .ng-meteor {
    transform: rotate(3deg);
  }
  &[thick='true'] .ng-meteor {
    transform: rotate(4deg);
  }
}

[dir='ltr+'], [dir='rtl+'] {
  .ng-bar {
    margin-left: -100%;
  }
  .ng-meteor {
    right: 0;
  }
}

[dir='ltr+'], [dir='rtl-'] {
  .ng-meteor {
    top: -3px;
  }
  &[thick='true'] .ng-meteor {
    top: -4px;
  }
}

[dir='ltr-'], [dir='rtl+'] {
  .ng-meteor {
    bottom: -3px;
  }
  &[thick='true'] .ng-meteor {
    bottom: -4px;
  }
  // reverse dir
  .ng-bar-placeholder {
    transform: rotate(180deg);
  }
  .ng-spinner-icon {
    animation-direction: reverse;
  }
}

[dir='rtl+'], [dir='rtl-'] {
  .ng-meteor {
    transform: rotate(-3deg);
  }
  &[thick='true'] .ng-meteor {
    transform: rotate(-4deg);
  }
}

[thick='true'] {
  .ng-spinner-icon {
    width: 24px;
    height: 24px;
    border-width: 3px;
  }
  .ng-bar-placeholder {
    height: 3px;
  }
}

[spinnerPosition='left'] .ng-spinner {
  left: 15px;
  right: unset;
}

[spinnerPosition='right'] .ng-spinner {
  right: 15px;
}

@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
