@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@Import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'assets/variables';
@import '~@angular/material/theming';

@include mat-core();

$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn: mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);

body,
html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $fontColor;
  margin: 0;
  background: -moz-linear-gradient(-45deg, rgba(136, 212, 152, 0) 73%, rgba(136, 212, 152, 0.3) 81%, rgba(136, 212, 152, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(136, 212, 152, 0) 73%, rgba(136, 212, 152, 0.3) 81%, rgba(136, 212, 152, 1) 100%);
  background: linear-gradient(135deg, rgba(136, 212, 152, 0) 73%, rgba(136, 212, 152, 0.3) 81%, rgba(136, 212, 152, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088d498', endColorstr='#88d498', GradientType=1);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

app-root {
  height: 630px;
}

button {
  display: flex;
  align-content: center;
  justify-content: center;
  color: gray;
  margin: 4px 5px 3px 0;
  background-color: $btnColor;
  border: 0;
  border-radius: 4px;
  transition: all .15s ease;
  outline: 0;
  &:hover:enabled {
    color: white;
    background-color: $btnHoverColor;
    cursor: pointer;
  }
  &:active:enabled {
    box-shadow: inset 0 0 4px rgba(black, 0.8);
  }
  img {
    width: 12px;
    padding: 7px;
  }
  button:disabled,
  button[disabled] {
    background-color: #cccccc;
    color: #666666;
  }
}

.container {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

iframe {
  display: inline-block;
  margin-left: 5px;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }
  20%,
  60% {
    transform: rotate(-25deg)
  }
  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}
