<mat-card ngProgressRef #progressRef="ngProgressRef">
  <div class="bar-placeholder"></div>
  <mat-progress-bar [@fadeInOut]="progressRef.active()" [value]="progressRef.progress()"/>

  <div class="test-container">
    <button mat-fab (click)="!progressRef.active() ? progressRef.start() : progressRef.complete()">
      <mat-icon [fontIcon]="progressRef.active() ? 'stop' : 'play_arrow'"/>
    </button>
  </div>

  <div class="spinner-container">
    <mat-progress-spinner [@fadeInOut]="progressRef.active()" [value]="progressRef.progress()"/>
  </div>
</mat-card>
